# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# Minecraft
#*.jar
!gradle/wrapper/gradle-wrapper.jar

